<!DOCTYPE html>
<html lang="en">
<head>
	<base href="./">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>@ViewData["Title"] - Backlog</title>
	<link rel="icon" href="~/images/brand/favicon.ico" type="image/x-icon" />
	@await Html.PartialAsync("Sections/_Styles")
	@RenderSection("PageStyles", required: false)

	@await Html.PartialAsync("Sections/_ScriptsHeader")
</head>

<body>
	@await Html.PartialAsync("Sections/_SideBar")
	<div class="wrapper d-flex flex-column min-vh-100">
		@await Html.PartialAsync("Sections/_Header")
		<div class="body flex-grow-1">
			<div class="container-xl px-4">
				<wc-antiforgery-token />
				@RenderBody()
			</div>
		</div>
		@await Html.PartialAsync("Sections/_Footer")
	</div>
	@await Html.PartialAsync("Sections/_Scripts")
	@RenderSection("PageScripts", required: false)

	<script>
		const header = document.querySelector('header.header');
		document.addEventListener('scroll', () => {
			if (header) {
				header.classList.toggle('shadow-sm', document.documentElement.scrollTop > 0);
			}
		});
		JSManager.setPageTitle('@ViewData["Title"]');
	</script>

	<partial name="_OffCanvas" />
</body>
</html>
