@model ProjectModel
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a href="#tabProject" class="nav-link active" data-bs-toggle="tab" aria-selected="false" role="tab">
                    <i class="fas fa-sticky-note me-2"></i>@Localize("ProjectPage.ProjectTabTitle").Text
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#tabMember" class="nav-link" data-bs-toggle="tab" aria-selected="true" role="tab">
                    <i class="fas fa-users me-2"></i>@Localize("ProjectPage.MemberTabTitle").Text
                </a>
            </li>
        </ul>
    </div>
    <div class="card-body p-2">
        <div class="tab-content">
            <div class="tab-pane active show" id="tabProject" role="tabpanel">
                <input type="hidden" asp-for="Id" />
                <div class="validation-errors"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <wc-label asp-for="Name" />
                            <input asp-for="Name" class="form-control form-control-maxlength" autocomplete="off" maxlength="100" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <wc-label asp-for="Description" />
                            <input asp-for="Description" class="form-control form-control-maxlength" autocomplete="off" maxlength="250" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <wc-label asp-for="ClientId" />
                            <select asp-for="ClientId" asp-items="Model.AvailableClients" class="form-control select2"></select>
                            <span asp-validation-for="ClientId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <wc-label asp-for="StartDate" />
                            <input asp-for="StartDate" type="text" class="form-control datepicker-from" autocomplete="off" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <wc-label asp-for="EndDate" />
                            <input asp-for="EndDate" type="text" class="form-control datepicker-to" autocomplete="off" />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" asp-for="Active">
                                <wc-label asp-for="Active" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end pt-3 pb-2">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save me-1"></i>@Localize("Button.Save")
                    </button>
                    @if (Model.Id <= 0)
                    {
                        <button type="submit" name="save-continue" class="btn btn-primary">
                            <i class="fas fa-save me-1"></i>@Localize("Button.SaveAndContinue")
                        </button>
                    }
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="fas fa-ban me-1"></i>@Localize("Button.Back")
                    </a>
                </div>
            </div>
            <div class="tab-pane" id="tabMember" role="tabpanel">
                @if (Model.Id > 0)
                {
                    @await Html.PartialAsync("DataTable", new DataTableModel
                    {
                        Name = "ProjectMemberGrid",
                        Title = $"{Localize("ProjectMember.Title").Text} in {Model.Name}",
                        SubTitle = Localize("ProjectMember.SubTitle").Text,
                        LengthChangeLabel = Localize("Grid.LengthChangeLabel").Text,
                        SearchLabel = Localize("Grid.SearchLabel").Text,
                        SearchPlaceholder = Localize("Grid.SearchPlaceholder").Text,
                        ZeroRecordsLabel = Localize("Grid.ZeroRecords").Text,
                        FooterInfoLabel = Localize("Grid.FooterInfo").Text,
                        FooterInfoWhenEmptyLabel = Localize("Grid.FooterInfoWhenEmpty").Text,
                        UrlRead = Url.Action("DataReadMember", new { projectId = Model.Id }),
                        HeaderActions = new List<ActionModel>
                        {
                            new ActionModel {
                                Title = Localize("Button.AddNew").Text,
                                Url = Url.Action("AddMember", new { projectId = Model.Id }),
                                Text = Localize("Button.AddNew").Text,
                                Icon = "fas fa-plus",
                                HyperLinkType = HyperLinkTypeEnum.BUTTON_TEXT_ICON,
                                NavigationType = NavigationTypeEnum.MODAL,
                                ButtonColor = ButtonColorEnum.PRIMARY
                            }
                        },
                        ColumnActions = new List<ActionModel>
                        {
                            new ActionModel {
                                Title = Localize("Button.Edit").Text,
                                Url = Url.Action("EditMember"),
                                Text = Localize("Button.Edit").Text,
                                Icon = "far fa-edit",
                                ReferenceParameter = "Id",
                                HyperLinkType = HyperLinkTypeEnum.HYPERLINK_TEXT_ICON,
                                NavigationType = NavigationTypeEnum.MODAL,
                                ButtonColor = ButtonColorEnum.PRIMARY
                            },
                            new ActionModel {
                                Title = Localize("Button.Delete").Text,
                                Url = Url.Action("DeleteMember"),
                                Text =  Localize("Button.Delete").Text,
                                AuxText =  Localize("Button.Cancel").Text,
                                Icon = "fas fa-trash",
                                ReferenceParameter = "Id",
                                DeleteConfirmBox = true,
                                DeleteConfirmBoxMsg = Localize("Confirmation.Delete").Text,
                                HyperLinkType = HyperLinkTypeEnum.HYPERLINK_TEXT_ICON,
                                ButtonColor = ButtonColorEnum.PRIMARY
                            }
                        },
                        Columns = new List<ColumnModel>
                        {
                            new ColumnModel { Title = Localize("ProjectMemberGrid.EmployeeName").Text, DataColumn = "EmployeeName" },
                            new ColumnModel { Title = Localize("ProjectMemberGrid.CanReport").Text, DataColumn = "CanReport", Conditions = new List<ColumnConditionModel>{
                                new ColumnConditionModel { Value = "true", Operator = OperatorEnum.EQUAL, Icon = "fa fa-check", TextColor = "#2eb85c" },
                                new ColumnConditionModel { Value = "false", Operator = OperatorEnum.EQUAL, Icon = "fa fa-times", TextColor = "#e55353" }
                            }},
                            new ColumnModel { Title = Localize("ProjectMemberGrid.CanClose").Text, DataColumn = "CanClose", Conditions = new List<ColumnConditionModel>{
                                new ColumnConditionModel { Value = "true", Operator = OperatorEnum.EQUAL, Icon = "fa fa-check", TextColor = "#2eb85c" },
                                new ColumnConditionModel { Value = "false", Operator = OperatorEnum.EQUAL, Icon = "fa fa-times", TextColor = "#e55353" }
                            }},
                            new ColumnModel { Title = Localize("ProjectMemberGrid.CanReOpen").Text, DataColumn = "CanReOpen", Conditions = new List<ColumnConditionModel>{
                                new ColumnConditionModel { Value = "true", Operator = OperatorEnum.EQUAL, Icon = "fa fa-check", TextColor = "#2eb85c" },
                                new ColumnConditionModel { Value = "false", Operator = OperatorEnum.EQUAL, Icon = "fa fa-times", TextColor = "#e55353" }
                            }},
                            new ColumnModel { Title = Localize("ProjectMemberGrid.CanComment").Text, DataColumn = "CanComment", Conditions = new List<ColumnConditionModel>{
                                new ColumnConditionModel { Value = "true", Operator = OperatorEnum.EQUAL, Icon = "fa fa-check", TextColor = "#2eb85c" },
                                new ColumnConditionModel { Value = "false", Operator = OperatorEnum.EQUAL, Icon = "fa fa-times", TextColor = "#e55353" }
                            }}
                        }
                    })
                }
                else
                {
                    <div class="alert alert-info">
                        @Localize("ProjectPage.SaveToAddMemberMsg").Text
                    </div>
                }
            </div>
        </div>
    </div>
</div>